PORT=3000
MONGO_URI=mongodb+srv://adi:osYwrWAWss8eeaLK@cluster0.vfbkh4m.mongodb.net/?appName=Cluster0

NODE_ENV=development

JWT_SECRET=your_jwt_secret

RESEND_API_KEY=re_ZFN6hzwn_E5htD7CtBf8qpwweUyGFsqiY
EMAIL_FROM=your_email_from_address
EMAIL_FROM_NAME=your_email_from_name

CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=root
CLOUDINARY_API_KEY=911268479179376
CLOUDINARY_API_SECRET=ki6E5WWiOCCBWCbK3tz6WdcfCaI

ARCJET_KEY=your_arcjet_key
ARCJET_ENV=development